.red {
	color: #e74c3c;
}
.red_bg {
	background-color: #e74c3c;
}
*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}
h1 { 
    display: block;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
h2 {
    display: block;
    font-size: 1.5em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
h3 { 
    display: block;
    font-size: 1.17em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
h4 { 
    display: block;
    margin-top: 1.33em;
    margin-bottom: 1.33em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
h5 { 
    display: block;
    font-size: .83em;
    margin-top: 1.67em;
    margin-bottom: 1.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
h6 { 
    display: block;
    font-size: .67em;
    margin-top: 2.33em;
    margin-bottom: 2.33em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}

html.js .loader {
	background: none repeat scroll 0 0 #ffffff;
	bottom: 0;
	height: 100%;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 9999;
}
html.js .loader_inner {
	background-image: url("../img/preloader.gif");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #fff;
	height: 60px;
	width: 60px;
	margin-top: -30px;
	margin-left: -30px;
	left: 50%;
	top: 50%;
	position: absolute;
}

body {
	font-family: sans-serif;
	font-size: 16px;
	min-width: 320px;
	position: relative;
	line-height: 1.6;
	font-family: "RobotoRegular", sans-serif;
	overflow-x: hidden;
	background-color: #f3f3f3;
}
.hidden {
	display: none;
}
ul.lists {
	margin: 0;
	padding: 0;
}
.lists li {
	padding-top: 5px;
    list-style-type: none; 
    font-size: 14px;
    color: #777777;
   }
.lists li.arrow_green:before {
	margin: 5px;
    content: "\f061";
    font-family: FontAwesome;
    font-size: 13px;
    color: #62b9b0;
}
.lists li.cross_green:before {
	margin: 5px;
    content: "\f00d";
    font-family: FontAwesome;
    font-size: 13px;
    color: #62b9b0;
}
.lists li.plus_green:before {
	margin: 5px;
    content: "\f055";
    font-family: FontAwesome;
    font-size: 13px;
    color: #62b9b0;
}
.lists li.circle_green:before {
	margin: 5px;
    content: "\f138";
    font-family: FontAwesome;
    font-size: 13px;
    color: #62b9b0;
}
.lists li.check_green:before {
	margin: 5px;
    content: "\f00c";
    font-family: FontAwesome;
    font-size: 13px;
    color: #62b9b0;
}
.lists li.arrow_red:before {
	margin: 5px;
    content: "\f061";
    font-family: FontAwesome;
    font-size: 13px;
    color: #e2534b;
}
.lists li.cross_red:before {
	margin: 5px;
    content: "\f00d";
    font-family: FontAwesome;
    font-size: 13px;
    color: #e2534b;
}
.lists li.plus_red:before {
	margin: 5px;
    content: "\f055";
    font-family: FontAwesome;
    font-size: 13px;
    color: #e2534b;
}
.lists li.circle_red:before {
	margin: 5px;
    content: "\f138";
    font-family: FontAwesome;
    font-size: 13px;
    color: #e2534b;
}
.lists li.check_red:before {
	margin: 5px;
    content: "\f00c";
    font-family: FontAwesome;
    font-size: 13px;
    color: #e2534b;
}

header {
	
}
.headline {
	background-color: #2c3e50;
	width: 100%;
	height: 25px;
	color: #777;
}
.header_menu {
	background-color: #34495e;
	width: 100%;
	height: 60px;
	color: #fff;
	display: block;
}

.header_menu ul#top_menu #logo_top_menu {
	display: inline;
	float: left;
}
.header_menu #logo_top_menu img {
	width: 100px;
	height: 60px;
}
.header_menu ul#top_menu {
    display: block;
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-transform: uppercase;
    height: 100%;
    word-spacing: -.36em;
}
=======
}
.header_menu ul#top_menu {
    display: block;
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-transform: uppercase;
    height: 100%;
    word-spacing: -.36em;
}

.header_menu ul#top_menu li {
	padding: 15px 5px;
    display: inline-block;
    height: 100%;
    color: #fff;
}
.header_menu ul#top_menu li:hover {
	background-color: #273747;
	text-decoration: underline;
}
.header_menu {}
header.top_menu {
	color: orange;
}
section.slider {
	background: #73c06e;
	height: 80vh;
	width: 100%;
}
section.menu {
	background: #ececec;
	height: 70px;
}
section.menu .line_menu {
	height: 70px;
	text-align: left;
}
section.menu .line_menu a {
	padding: 20px;
	background: #e4e4e4;
	color: #fe4641;
	display: inline-block;
	height: 100%;
}
/*section.menu .line_menu a:hover {
	background-color: #3498db;
	color: #fff;
}*/
section.menu .line_menu a#active {
	background-color: #ec5b48;
	color: #fff;
}
section.menu a:hover {
	background: #fff;
}

section.main {
	min-height: 100vh;
}
section.main .item {
	background: #eee;
	height: 200px;
	margin-top: 20px;
	position: relative;
}
section.main .item img{
	width: 100%;
	height: 160px;
}
section.main .item .desc{
	position: absolute;
	top: 50%;
	left: 0;
	height: 50%;
	width: 100%;
	background: #00000090;
}
section.main .item .desc h3{
	color: #fff;
	font-size: 16px;
}
section.main .item .desc p{
	color: #fff;
	font-size: 11px;
}


.content_line {
	width: 100%;
	height: 200px;
	background-color: #e74c3c;
}
.content_line h1{
	padding-top: 70px;
	text-align: center;
	color: #fff;
	text-transform: uppercase;
}

section.contact {
	position: relative;
	width: 100%;
	height: 300px;
	background-color: #ececec;
	padding-top: 20px;
	margin-top: 40px;
	margin-bottom: 250px;
}
section.contact::before{
	content: "";
	position: absolute;
	top: 0;
	background-image: url(/assets/img/Path.png);
	width: 100%;
	height: 15px;
}
section.contact .margin_block {
	margin-top: 100px;
}
.info_box {
	background-color: #f8f8f8;
	width: 100%;
	height: 330px;
	position: relative;
	margin-bottom: 50px;
    border-radius: 7px;
    border-bottom: #e5e6e6 4px solid;
    transition: 0.2s;
    color: #777777;
}
.info_box:hover {
	background-color: #5babe1;
	border-bottom: #529aca 4px solid;
	color: #fff;
}
.info_box:hover .icon{
	color: #e2534b;
	color: #fff;
}
.info_box h2{
	font-size: 16px;
	text-align: center;
	text-transform: uppercase;
}
.info_box p{
	margin: 20px;
	text-align: center;
	font-size: 13px;
}
.info_box .icon{
	padding-top: 25px;
	text-align: center;
	font-size: 65px;
	color: #85c875;
	transition: 0.2s;
}
.info_box .icolor_v1{
    color: #e74c3c;
}
.info_box .icolor_v2{
    color: #FFBE53;
}
.info_box .icolor_v3{
    color: #2980B9;
}
.info_box .icolor_v4{
    color: #282741;
}
.info_box .icon:hover{
	color: #e2534b;
}
.info_box button {
position: absolute;
left: 50%;
margin-left: -100px;
bottom: -30px;
}
.info_box button.submit {
    transition: 0.2s;
    width: 200px;
    /*background-color: #76c7c0;*/
	background-color: #98a3a3;
    border: none;
    border-radius: 5px;
    color: #fff;
    display: block;
    padding: 15px 0px;
    text-align: center;
    border-bottom: #7f8c8c 4px solid;
    /*border-bottom: #62b9b0 4px solid;*/
}
.info_box button.submit:hover {
	background-color: #ec5b48;
	border-bottom: #e74c3c 4px solid;
}


section.map {
	width: 100%;
	background-color: #000;
	height: 300px;
}
section.map iframe{
	opacity: .7;
	width: 100% !important;
	height: 300px !important;
	transition: all 0.5s;
}
section.map iframe:hover{
	opacity: 1;
}

footer {
	background: #34495e;
	min-height: 300px;
}
footer .footer_content {
	background: #34495e;
	min-height: 300px;
	min-height: 300px;
}
footer .footer_content {
	background: #34495e;
	min-height: 300px;
	width: 100%;
	padding-bottom: 20px;
	color: #649ad0;
}
footer .footer_content a{
	color: #649ad0;
}
footer a:hover{
	color: #aad2fa;
	text-decoration: none;
}
footer .footer_logo {
    width: 150px;
    height: 150px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(/assets/img/test.jpg);
}
footer .bottom_line {
	padding-top: 23px;
	background: #2c3e50;
	height: 70px;
	color: #649ad0;
	font-weight: bolder;
	text-transform: uppercase;
	width: 100%;
}

footer .bottom_line a{
	color: #649ad0;
	margin-left: 15px;
	text-decoration: none;
	display: inline-block;
}
footer .bottom_line a:hover{
	color: #aad2fa;
}

.place_for_slider{
	height: 80vh;
	width: 100%;
	position:relative;
}

.single_slide{
		height:100%;
		transition: 1s;
		opacity:0;
	    position: absolute;
}

.single_slide img{
	    height:100%;
}



#Banner4{
	opacity:1 !important;
}



#nab{
	position: absolute;
    list-style: none;
    height: 100%;
    width: 100%;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    top: 0;
    z-index: 6;
}

.navpred, .navposl {
    text-align: center;
    z-index: 15;
    top: 0;
    left: 0;
    display: inline-block;
    margin: 0;
    width: 6.1%;
    height: 100%;
    overflow: hidden;
    font-size: 85px;
	cursor: pointer;
}

.navposl {
    float: right;
}

.navigation{
	text-align: center;
    position: absolute;
    width: 100%;
    bottom: 40px;
    left: 0;
    z-index: 1321;
}

.dot{
	    transition: 1s;
    display: inline-block;
    width: 16px;
    height: 16px;
    background: #800015;
   cursor: pointer;
    border-radius: 16px;
    margin: 0 20px;
    border: 1px solid #800015;
}

.navigation .active {
    transform: scale(1.5);
    background: #fff;
}


